<div class="footer">
  <div class="footer-lists">
    <ul class="footer-ul">
      <li class="footer-ul-header">Get to know us</li>
      <li>Our mission</li>
      <li>Meat the team</li>
      <li>Read our blog</li>
      <li>Some photos</li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-ul-header">Get involved</li>
      <li>Creating changemakers</li>
      <li>Send a letter</li>
      <li>Join our events</li>
      <li>Pen Pal project</li>
      <li>Student ambassadors</li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-ul-header">Connect with us</li>
      <li>Contact us</li>
      <li>Join the team</li>
    </ul>
  </div>
  <div class="footer-flex-row">
    <div class="footer-flex-column">
      <div class="footer-social">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="footer-pages">
        <div class="footer-link">privacy policy</div>
        <div class="footer-point">•</div>
        <div class="footer-link">privacy policy</a></div>
        <div class="footer-point">•</div>
        <div class="footer-link">Made with <i class="fa fa-heart"></i> in Portland</div>
      </div>
      <div class="footer-copyright">© Copyright 2018. Letters of Love is a 501 (c)(3) | EIN: 22-3936753
        </div>
    </div>
    <div class="footer-subscribe">
      <p class="footer-link">subscribe</p>
    </div>
  </div>
</div>
