<div class="footer">
  <div class="footer-lists hidden-xs">
    <ul class="footer-ul">
      <li class="footer-ul-header">Get to know us</li>
      <li class="footer-ul-list"><a href="">Our mission</a></li>
      <li class="footer-ul-list"><a href="">Meat the team</a></li>
      <li class="footer-ul-list"><a href="">Read our blog</a></li>
      <li class="footer-ul-list"><a href="">Some photos</a></li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-ul-header">Get involved</li>
      <li class="footer-ul-list"><a href="">Creating changemakers</a></li>
      <li class="footer-ul-list"><a href="">Send a letter</a></li>
      <li class="footer-ul-list"><a href="">Pen Pal project</a></li>
      <li class="footer-ul-list"><a href="">Student ambassadors</a></li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-ul-header">Connect with us</li>
      <li class="footer-ul-list"><a href="">Contact us</a></li>
      <li class="footer-ul-list"><a href="">Join the team</a></li>
    </ul>
  </div>
  <div class="footer-flex-row">
    <div class="footer-flex-column">
      <div class="footer-social">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="footer-pages">
        <div class="footer-link"><a href="">Legal Mentions</a></div>
        <div class="footer-point">•</div>
        <div class="footer-link"><a href="">Privacy Policy</a></div>
        <div class="footer-point">•</div>
        <div class="footer-link">Made with <i class="fa fa-heart"></i> in Paris</div>
      </div>
      <div class="footer-copyright">© Copyright 2018. Letters of Love is a 501 (c)(3) | EIN: 22-3936753
      </div>
    </div>
    <div class="footer-subscribe">
      <p class="footer-link">Subscribe</p>
    </div>
  </div>
</div>
