<div class="navbar-static">
  <!-- Logo -->
  <div class="navbar-static-left">
    <!-- LOGO -->
    <div class="letters-logo">
      <a href="/index.html" class="navbar-logo">
        <img src="images/logo.png" alt="logo">
      </a>
    </div>
    <!-- LEFT -->
    <div class="navbar-static-flex hidden-xs">
      <!-- <a href="" class="navbar-static-item navbar-static-link">Why Letters?</a> -->
      <%= link_to "About Us", "/about.html", class: "navbar-static-item navbar-static-link" %>
      <%= link_to "Team", "/team.html", class: "navbar-static-item navbar-static-link" %>
      <%= link_to "Memories", "/galleries.html", class: "navbar-static-item navbar-static-link" %>
      <a href="https://medium.com/letters-of-love" class="navbar-static-item navbar-static-link">Blog</a>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="navbar-static-right hidden-xs">
      <a href="https://drive.google.com/open?id=1W0JtsRan5qY_okUA3RFKr1uZJpOG1X1nq-wwtu5_ChM" class="navbar-static-item navbar-static-link navbar-static-button-links">Join Us</a>
      <a href="https://milaap.org/fundraisers/letters-of-love-2018" class="navbar-static-item navbar-static-link navbar-static-button-links">Donate</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-static-item hidden-lg hidden-sm hidden-md">
    <div class="">
      <i class="fa fa-bars dropdown-toggle navbar-static-burger-menu" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-static-dropdown-menu">
        <li><a href="/about.html">About Us</a></li>
        <li><a href="https://drive.google.com/open?id=1W0JtsRan5qY_okUA3RFKr1uZJpOG1X1nq-wwtu5_ChM">Join Us</a></li>
        <li><a href="https://milaap.org/fundraisers/letters-of-love-2018">Donate</a></li>
      </ul>
    </div>
  </div>
</div>
