<div class="navbar">
  <!-- Logo -->
  <div class="navbar-left">
    <!-- LOGO -->
    <div class="letters-logo">
      <a href="/index.html" class="navbar-logo">
        <img src="images/logo.png" alt="logo">
      </a>
    </div>
    <!-- LEFT -->
    <div class="navbar-flex hidden-xs">
      <!-- <a href="" class="navbar-item navbar-link">Why Letters?</a> -->
      <%= link_to "About Us", "/about.html", class: "navbar-item navbar-link" %>
      <%= link_to "Team", "/team.html", class: "navbar-item navbar-link" %>
      <%= link_to "Memories", "/memories.html", class: "navbar-item navbar-link" %>
      <a href="https://medium.com/letters-of-love" class="navbar-item navbar-link">Blog</a>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="navbar-right hidden-xs">
      <a href="https://drive.google.com/open?id=1W0JtsRan5qY_okUA3RFKr1uZJpOG1X1nq-wwtu5_ChM" class="navbar-item navbar-right-link navbar-button-links">Join Us</a>
         <!-- DONATE DROPDOWN -->
      <div class="dropdown">
        <button id="navbar-home-dropdown" class="dropdown-toggle navbar-item navbar-button-links navbar-right-link" type="button" id="donatedropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Donate
        </button>
        <ul class="dropdown-menu navbar-dropdown-menu" aria-labelledby="donatedropdownMenuButton">
          <li><a class="nav-dropdown-item" href="https://paypal.com/us/fundraiser/charity/3399841">With Paypal</a></li>
          <li><a class="nav-dropdown-item" href="https://milaap.org/fundraisers/lettersoflove2019">With Milaap</a></li>
        </uld>
      </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-xl hidden-md">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle navbar-burger-menu" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
   <!--      <li><a href="#">Why Letters?</a></li> -->
        <li><a href="/about.html">About us</a></li>
        <li><a href="/team.html">Meet the team</a></li>
        <li><a href="/memories.html">Memories</a></li>
        <li><a href="https://medium.com/letters-of-love">Blog</a></li>
        <li><a href="https://drive.google.com/open?id=1W0JtsRan5qY_okUA3RFKr1uZJpOG1X1nq-wwtu5_ChM">Volunteer</a></li>
        <li><a class="nav-dropdown-item" href="https://paypal.com/us/fundraiser/charity/3399841"> Donate with Paypal</a></li>
        <li><a class="nav-dropdown-item" href="https://milaap.org/fundraisers/lettersoflove2019">Donate with Milaap</a></li>
      </ul>
    </div>
  </div>
</div>


