<div class="navbar">
  <!-- Logo -->
  <div class="navbar-left">
    <!-- LOGO -->
    <div class="letters-logo">
      <a href="/" class="navbar-logo">
        <img src="images/logo.png" alt="logo">
      </a>
    </div>
    <!-- LEFT -->
    <div class="navbar-left hidden-xs hidden-sm">
      <a href="" class="navbar-item navbar-link">Why Letters?</a>
      <a href="" class="navbar-item navbar-link">About Us</a>
      <a href="https://medium.com/letters-of-love" class="navbar-item navbar-link">Blog</a>
    </div>
  </div>

<!--   <div class="empty"></div> -->
    <!-- RIGHT -->
  <div class="navbar-right hidden-xs hidden-sm">
      <a href="https://drive.google.com/open?id=1W0JtsRan5qY_okUA3RFKr1uZJpOG1X1nq-wwtu5_ChM" class="navbar-item navbar-link navbar-button-links">Join Us</a>
      <a href="https://milaap.org/fundraisers/letters-of-love-2018" class="navbar-item navbar-link navbar-button-links">Donate</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle navbar-burger-menu" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="#">Why Letters?</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Join Us</a></li>
        <li><a href="#">Donate</a></li>
      </ul>
    </div>
  </div>
</div>
