.hero-content {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  h1 {
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 25px;
  }
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
