.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-lists {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
  align-self: center;
  width: 95%;
}

.footer-ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 50px;
  font-size: 15px;
  letter-spacing: .2px;
}

.footer-ul-list a {
  color: black;
  text-decoration: none;
}

.footer-ul-list a:hover {
  text-decoration: underline;
  opacity: 0.3;
}

li.footer-ul-header {
  font-weight: bold;
  color: black;
  padding-bottom: 5px;
}

.footer-social {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,0.3);
  background-color: white;
  a {
    padding-right: 10px;
    color: black;
  }
}

.footer-flex-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.footer-flex-row {
  display: flex;
  flex-flow: wrap;
  align-self: center;
  width: 80%;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding-top: 25px;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-pages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0px;
}

.footer-point {
  padding: 0px 10px;
}

.footer-link {
  color: black;
  font-size: 12px;
  a {
    color: black;
    text-decoration: none;
    :hover {
      text-decoration: none;
      color: black;
    }
  }
}

.footer-subscribe {
  background-color: white;
}

.footer-copyright {
  color: black;
  padding-bottom: 40px;
  font-size: 12px;
  padding-bottom: 10px;
}
