/* Main navbar */
.navbar {
  font-family: "Roboto", sans-serif;
  background: transparent;
  transition: all 0.3s ease;
  // display: flex;
  // justify-content: space-between;
  z-index: 1000;
  position: absolute;
  top: 7px;
  width: 90%;
  margin-left: 5%;
  a {
    color: white;
    :hover {
      opacity: 0.3;
      text-decoration: none !important;
    }
  }
}

/* Logo */
.navbar-logo img {
  height: 50px;
}

/* Right section */
.navbar-left {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.navbar-flex {
  margin-left: 10px;
}

.navbar-right {
  margin: 15px 0px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: white;
  font-size: 14px;
}
.navbar-link:hover {
  opacity: 0.3;
  text-decoration: none;
}

.navbar-link-dark {
  color: black;
  font-size: 14px;
}
.navbar-link-dark:hover {
  opacity: 0.3;
  text-decoration: none;
}

/* Dropdown menu */

.navbar-burger-menu {
  font-size: 20px;
  position: absolute;
  top: -30px;
  right: 15px;
  color: white;
}

.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-button-links {
  border: 1px solid;
  padding: 5px 7px;
  margin-right: 10px;
  border-radius: 4px;
}
