---
title: "Letters of Love - Be my Valentine"
---

<div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="gallery-page">
    <div class="gallery-return">
      <a href="/memories.html"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="gallery-header col-xs-10 col-sm-8 col-md-6 col-xl-4">
      <h2>Be my Valentine</h2>
      <h4>Letters of Love and toys were delivered to Rohingya and Syrian refugee children along with art, music and dance workshops on Valentine's Day.</h4>
    </div>
    <div class="gallery-images">
      <% data.galleries.valentine.each do |item| %>
        <div class="gallery-photo">
          <img src="<%= item.picture %>" alt="">
        </div>
      <% end %>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
