---
title: "Letters of Love - World Refugee Day"
---

<div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="gallery-page">
    <div class="gallery-return">
      <a href="/memories.html"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="gallery-header col-xs-10 col-sm-8 col-md-6 col-xl-4">
      <h2>World Refugee Day</h2>
      <h4>For World Refugee Day commemorated on June 20, Letters of Love in collaboration with PRECISE, a 3D printing and immersive computing specialist in the Gulf Cooperation Council (GCC), delivered 3Doodlers that are 3D pens that enable users to draw in thin air, to Syrian Refugee children tended to by El Sistema Greece at Schisto Refugee Camp. Each pen was accompanied with a heartfelt letter of love written by employees of PRECISE as well as a personalised 3D heart doodled for each child with their name in Arabic inscribed in it. The idea of the collaboration was to make education fun and encourage it amongst refugee children in an interactive manner. "We gave them to the kids to draw notes and the sol key. They also made their own creations. They were very touched with the letters and their own personalised heart with their names on it. It was really beautiful! We kept a few pens and the teachers aim to use it as a teaching tool. It is very fun teaching notes with these pens." </h4>
    </div>
    <div class="gallery-images">
      <% data.galleries.worldrefugeeday.each do |item| %>
        <div class="gallery-photo">
          <img src="<%= item.picture %>" alt="">
        </div>
      <% end %>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
