.gallery-page {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  background-color: white;
  position: relative;
}

.gallery-images {
  padding: 3% 15%;
  background-color: white;
}

.gallery-photo {
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit !important;
  }
}

.card-memories-content {
  color: black;
  font-size: 24px !important;
}

.gallery-return {
  position: absolute;
  top: 20px;
  left: 40px;
  border: solid 0.5px gray;
  a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 7px;
    &:hover {
      color: $blue;
    }
  }
}

.memories-cards-flex {
  display: flex;
  margin-bottom: 75px;
  justify-content: center;
  flex-wrap: wrap;
}
