#home {
  background-color: #FFF;
  color: black;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
}
