.static-header {
  margin-bottom: 40px;
  h4 {
    font-weight: 700;
    font-size: 35px;
  }
}

.static-description {
  background-color: white;
  p {
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: white;
    :hover {
      text-decoration: none;
      color: black;
    }
  }
}

.static-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.static-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
   a:hover {
    text-decoration: none !important;
  }
}

.static-page {
  background-color: white !important;
  color: black;
  min-height: 100vh;
  position: relative;
}

.static-video-block {
  width: 100%;
  display: flex;
  margin-top: 3em;
  margin-bottom: 3em;
}

#changemakers-btn {
  margin-top: 30px;
}

.margin-bottom-pusher {
  height: 65px;
}

.button-align-center {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.button-align-left {
  display: flex;
  width: 100%;
  justify-content: left;
  margin-top: 3em;
  margin-bottom: 3em;
}

.no-margin {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

