---
title: "Letters of Love - About Us"
---

<div class="static-page">
  <%= partial 'layouts/navbar_static' %>
  <div class="banner-about">
      <div class="banner-about-content col-xs-10 col-sm-8 col-md-8 col-xl-6">
        <h1>One smile at a time</h1>
        <p>Help us to create a kinder world for refugee children.</p>
      </div>
  </div>
  <div class="static-page-content">
    <div class="static-content col-xs-11 col-sm-11 col-md-8 col-xl-6">
      <div class="static-header">
        <h4>About Us</h4>
      </div>
      <div class="static-description">
        <p>Letters of Love was an idea born in 2015 that primarily aimed at spreading smiles to refugee children through a handwritten letter. It has since then grown to become a youth-led international non-profit [501(c)(3)] organisation based out of the United States of America that offers psychosocial support to refugee children through handwritten letters while creating a globally aware, empathetic citizenry of young leaders in classrooms.
        <br><br>
        With a diverse team consisting of 25 peacebuilders from 11 countries and 7 timezones, with an average age of 22 years, the youngest being only 13 years old, we aspire to spread smiles to refugee children and inspire changemakers out of school students.
        <br><br>
        Letters of Love in its last 3 years has delivered handwritten postcards to more than 30,000 Syrian, Iraqi, Yazidi, Palestinian and Rohingya refugee children and has also effectively mobilised more than 20,000 youth around the world, year after year. Due to the impact of our work, we've been identified and are an official member of the United Nations High Commissioner for Refugees(UNHCR) #WithRefugees Coalition as well as the UN Sustainable Development Solutions Youth Network (SDSN).
        </p>
        <br><br>
        <h4>What difference does a letter make?</h4>
        <i>“Too often we underestimate the power of a touch, a smile, a kind word, a listening ear, an honest compliment, or the smallest act of caring, all of which have the potential to turn a life around.”</i><p>~Leo Buscaglia</p>
        <br>
        <p>While the physical body heals itself over time, the childhood of refugees remains broken and providing them with psychosocial support is as important as providing them with food, clothing and shelter. These children live in hostile environments away from homes, devoid of their friends and communities amidst so many other constraints. Their worlds become restricted to their challenging lives at the refugee camps and they grow up without hope, love and visibility. Children living in war zones are at high risk of suffering from post-traumatic stress disorder (PTSD) and depressive disorders.
        <br><br>
        Despite the turbulent lives of refugee children, Letters of Love aims to infuse a sense of normality in their lives through handwritten, doodled, colourful letters. Upon receiving the personal letter, the refugee child is shown that there are people out there who love and care for him, he has friends and well-wishers just like anyone else, which in turn minimizes his sense of isolation and kindles a ray of hope. These letters make them smile - an immeasurable impact parameter but one that keeps the hope alive for these resilient children.
        </p>
      </div>
    </div>
    <%= partial 'layouts/footer' %>
  </div>
</div>
