<div class="static-page">
  <%= partial 'layouts/navbar' %>
  <div class="banner-about">
      <div class="banner-about-content col-xs-10 col-sm-8 col-md-6 col-xl-4">
        <h1>One smile at a time</h1>
        <p>Help us make a difference to global refugee crises using empathy, education and empowerment</p>
      </div>
  </div>
  <div class="static-page-content">
    <div class="static-content col-xs-11 col-sm-11 col-md-8 col-xl-6">
      <div class="static-header">
        <h4>About Us</h4>
      </div>
      <div class="static-description">
        <p>Letters of Love is a global youth-led initiative that makes a difference to global refugee crises through empathy, education & empowerment. Our diverse team consists of 25 peacebuilders from 11 countries and 7 timezones, with an average age of 22 years, the youngest being only 13 years old.
        <br><br>
        Keeping the idea of the power of a handwritten letter as the pivot, our wheel of change runs on 6 spokes -
        <br>
        <ul>
            <li>To spread smiles, we mobilise youth groups around the world to deliver handwritten letters as a token of love, hope and solidarity to ten thousands of Syrian, Iraqi, Palestinian, Yazidi and Rohingya refugee children on New Year’s Day, Children's Day, Valentine’s Day etc.</li>
            <li>We run fundraisers and donation drives to provide winter aid and psycho-social support resources such as toys, books, art supplies etc to refugee community centres.
            We conduct and train teachers/ facilitators to run our Sensitisation Program in schools where our carefully developed activity-oriented curriculum raises awareness using the Syrian War & Refugee crisis as a case study, inspiring empathy, and highlighting the potential of each and every child as a change agent in his/her own capacity.
            </li>
            <li>To create young leaders, we run a Student Ambassador Program where we choose exceptional teenagers and empower them with the skill set and platforms required to lead change, both globally and locally.</li>
            <li>The Pen Pal Project aims at fostering unimaginable friendships across borders and encouraging exchange of perspectives between children in privileged countries and children who are victims of war in Syria, under siege in Gaza and refugee children in Turkey, with the objective of humanising the ‘other’.</li>
            <li>To mobilise youth and to encourage their participation in peacebuilding, we hold Meet, Greet & Scribble Events which are campaigned public events where anybody can join and write messages on the postcards, doodle or colour, paste stickers, etc and have a social time. The space allows networking and provides an opportunity to meet and interact with like-minded people from across sectors in the city its being held.</li>
        </ul>
        <br>
        <br>
        Letters of Love in its last 3 years has delivered handwritten postcards to more than 30,000 Syrian, Iraqi, Yazidi, Palestinian and Rohingya refugee children and has also effectively mobilised more than 20,000 youth around the world, year after year. Due to the impact of our work, we've been identified and are an official member of the United Nations High Commissioner for Refugees(UNHCR) #WithRefugees Coalition as well as the UN Sustainable Development Solutions Youth Network (SDSN).
        </p>
      </div>
    </div>
    <%= partial 'layouts/footer' %>
  </div>
</div>
