---
title: "Letters of Love - Press Kit"
---

<div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="gallery-page">
    <div class="team-header">
      <h2>Gallery</h2>
      <h4>A few of our favourite memories...</h4>
    </div>
    <div class="gallery-images">
      <% data.gallery_presskit.each do |item| %>
        <div class="gallery-photo">
          <img src="<%= item.picture %>" alt="">
        </div>
      <% end %>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
