<div id="home">
  <%= partial 'layouts/navbar' %>
  <%= image_tag "banner.jpg", class: "hero-image" %>
  <div class="hero-content">
    <h1>Letters of Love</h1>
    <p>One smile at a time</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>


</div>

<%#= link_to "More about this template", "about.html" %>
