---
title: "Letters of Love"
---

<div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="banner-home">
      <div class="banner-home-content">
        <h1>One smile at a time</h1>
        <p>Help us make a difference to global refugee crises using empathy, education and empowerment</p>
        <a href="https://lettersoflove.typeform.com/to/BPWAdu" class="banner-button">Send a letter</a>
      </div>
  </div>

  <div class="home-mission-header col-xs-10 col-md-8 col-xl-6">
      <h2>Here are some ways you can help!</h2>
  </div>
  <div class="mission-cards col-xs-12 col-sm-12 col-md-10 col-xl-8">
    <div id="card-one" class="card col-xs-9 col-sm-6 col-md-5 col-xl-4">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/10/15110521_782273908578618_7488840534239535486_o.jpg');"></div>
      <div class="card-content-index">
        <p>Spread smiles!</p>
        <div class="card-button"><a href="/letters.html">Send a Letter</a></div>
      </div>
    </div>
    <div id="card-two" class="card col-xs-9 col-sm-6 col-md-5 col-xl-4">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0302-2.jpg');"></div>
      <div class="card-content-index">
        <p>Help us raise funds for New Years 2019</p>
        <div class="card-button"><a href="https://paypal.com/us/fundraiser/charity/3399841">Donate</a></div>
      </div>
    </div>
    <div id="card-three" class="card col-xs-9 col-sm-6 col-md-5 col-xl-4">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/Copy-of-DSC_0081-2.jpg');"></div>
      <div class="card-content-index">
        <p>Become a Student Ambassador</p>
        <div class="card-button"><a href="/students.html">join us</a></div>
      </div>
    </div>
    <div id="card-four" class="card col-xs-9 col-sm-6 col-md-5 col-xl-4">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/10/Principle-3.jpg');"></div>
      <div class="card-content-index">
        <p>Create awareness in classrooms</p>
        <div class="card-button"><a href="/changemakers.html">SENSITISE</a></div>
      </div>
    </div>
  </div>

    <div class="video-block">
      <div class="video-flex">
        <div class="video-component col-xs-12 col-sm-10 col-md-6 col-xl-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WbuEs0o8r4o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="video-headline col-xs-12 col-sm-10 col-md-4 col-xl-4">
          <h4>What we do</h4>
          <p>To spread smiles, we mobilise youth groups around the world to deliver handwritten letters as a token of love, hope and solidarity to ten thousands of Syrian, Iraqi, Palestinian, Yazidi and Rohingya refugee children.</p>
        </div>
      </div>
    </div>

    <!-- TESTIMONIALS -->

<!--     <div class="approach-locations">
      <h4>Where we work</h4>
    </div> -->

    <!-- SUBSCRIBE CTA -->
  </div>
  <%= partial 'layouts/footer' %>
</div>

