<div id="home">
  <%= partial 'layouts/navbar' %>
  <div class="banner-home">
      <div class="banner-home-content col-xs-10 col-sm-8 col-md-6 col-xl-4">
        <h1>One smile at a time</h1>
        <p>Help us make a difference to global refugee crises using empathy, education and empowerment</p>
        <a class="banner-button">Send a letter</a>
      </div>
  </div>

  <div class="home-mission">
    <div class="home-mission-header col-xs-10 col-md-8 col-xl-6 col-xl-offset-3 col-md-offset-2">
      <h2>138,700 unaccompanied and separated children sought refuge and asylum in 2017. We're on a mission to help them.</h2>
    </div>

    <div class="home-facts col-xs-10 col-md-8 col-xl-6">
      <div class="home-fact home-fact-right">
        <h2>33,478<h2>
        <h4>handwritten letters delivered</h4>
        <div class="mission-circle circle-one"></div>
      </div>
      <div class="fact-image home-fact-right" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0242.jpg');"></div>
      <div class="home-fact-details home-fact-right">
        <h4>Header</h4>
        <p>A handwritten letter brings an old-school charm like no other form of communication. This tangible token of love is us, extending a hand in friendship to the millions of refugee children who need our support; to let them know that they are not forgotten but are loved and cared for.</p>
      </div>
      <div class="home-fact home-fact-left">
        <h2>8,029</h2>
        <h4>students sensitised</h4>
        <div class="mission-circle circle-two"></div>
      </div>
      <div class="fact-image home-fact-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0242.jpg');"></div>
      <div class="home-fact-details home-fact-left">
        <h4>Header</h4>
        <p>In a time where humanitarian conflicts of various magnitudes are unfolding by the hour, it is imperative that we raise aware, empathic global citizens in our classrooms. Our Sensitisation Program uses the Syrian War and...</p>
      </div>
      <div class="home-fact home-fact-right">
        <h2>21</h2>
        <h4>Student Ambassadors</h4>
        <div class="mission-circle circle-three"></div>
      </div>
      <div class="fact-image home-fact-right" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0242.jpg');"></div>
      <div class="home-fact-details home-fact-right">
        <h4>Header</h4>
        <p>Our Student Ambassadors form a global network of motivated teenagers who have the will to challenge and change social issues. They come from different contries and contexts, united with their passion to inspire communities harnessing the power of a handwritten letter.</p>
      </div>
      <div class="home-fact home-fact-left">
        <h2>350</h2>
        <h4>Pen Pal pairs across borders</h4>
        <div class="mission-circle circle-four"></div>
      </div>
      <div class="fact-image home-fact-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0242.jpg');"></div>
      <div class="home-fact-details home-fact-left">
        <h4>Header</h4>
        <p>The Pen Pal Project for children and youth aims at fostering friendships across lines of conflict. We connect school students with internally displaced children in Syria, those beseiged in Gaza and Syrian refugee children in Turkey. It gives them the opportunity to perceive people of other countries beyond</p>
      </div>
    </div>
    <div class="home-mission-header col-xs-10 col-md-8 col-xl-6 col-xl-offset-3 col-md-offset-2">
      <h2>Here's how you can help!</h2>
    </div>

    <div class="mission-cards">
      <div class="card col-xs-10 col-sm-8 col-md-4 col-xl-3">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0242.jpg');"></div>
        <div class="card-content">
          <p>Send a letter</p>
          <div class="card-button"><a href="#">click</a></div>
        </div>
      </div>
      <div class="card col-xs-10 col-sm-8 col-md-4 col-xl-3">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0242.jpg');"></div>
        <div class="card-content">
          <p>Raise awareness</p>
          <div class="card-button"><a href="#">click</a></div>
        </div>
      </div>
      <div class="card col-xs-10 col-sm-8 col-md-4 col-xl-3">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0242.jpg');"></div>
        <div class="card-content">
          <p>Raise awareness</p>
          <div class="card-button"><a href="#">click</a></div>
        </div>
      </div>
      <div class="card col-xs-10 col-sm-8 col-md-4 col-xl-3">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0242.jpg');"></div>
        <div class="card-content">
          <p>Raise awareness</p>
          <div class="card-button"><a href="#">click</a></div>
        </div>
      </div>
    </div>
    <div class="home-facts-image">
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>

