<div id="home">
  <%= partial 'layouts/navbar' %>
  <div class="banner-home">
    <div class="banner-home-content col-large-6">
      <h1>One smile at a time</h1>
      <p>Help us make a difference to global refugee crises using empathy, education and empowerment</p>
      <a class="btn btn-primary btn-lg">Send a letter</a>
    </div>
  </div>
  <div class="home-mission">
    <div class="home-mission-header">
      <h2>138,700 unaccompanied and separated children sought refuge and asylum in 2017. We're on a mission to help them.</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0242.jpg');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Raise Awareness</h2>
              <p>lorem ipsum</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Send a letter</h2>
              <p>lorem ipsum</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="home-facts">
      <div class="home-fact">
        <h2>33,478 letters handwritten letters delivered</h2>
        <h4>A handwritten letter brings an old-school charm like no other form of communication. This tangible token of love is us, extending a hand in friendship to the millions of refugee children who need our support; to let them know that they are not forgotten but are loved and cared for.</h4>
      </div>
      <div class="home-fact">
        <h2>8,029 students sensitised</h2>
        <h4>In a time where humanitarian conflicts of various magnitudes are unfolding by the hour, it is imperative that we raise aware, empathic global citizens in our classrooms. Our Sensitisation Program uses the Syrian War and...</h4>
      </div>
      <div class="home-fact">
        <h2>21 Student Ambassadors</h2>
        <h4>Our Student Ambassadors form a global network of motivated teenagers who have the will to challenge and change social issues. They come from different contries and contexts, united with their passion to inspire communities harnessing the power of a handwritten letter.</h4>
      </div>
      <div class="home-fact">
        <h2>350 Pen Pal pairs across borders</h2>
        <h4>The Pen Pal Project for children and youth aims at fostering friendships across lines of conflict. We connect school students with internally displaced children in Syria, those beseiged in Gaza and Syrian refugee children in Turkey. It gives them the opportunity to perceive people of other countries beyond</h4>
      </div>
    </div>
    <%= image_tag "DSC_0188.JPG" %>
  </div>


  <div class="footer-lists">
    <ul class="footer-ul">
      <li class="footer-ul-header">Get to know us</li>
      <li>Our mission</li>
      <li>Meat the team</li>
      <li>Read our blog</li>
      <li>Some photos</li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-ul-header">Get involved</li>
      <li>Creating changemakers</li>
      <li>Send a letter</li>
      <li>Join our events</li>
      <li>Pen Pal project</li>
      <li>Student ambassadors</li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-ul-header">Connect with us</li>
      <li>Contact us</li>
      <li>Join the team</li>
    </ul>
  </div>
  <div class="footer-social">
    <div class="footer-left">
      <div class="footer-links">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="footer-pages">
        <a href="#">privacy policy</a>
        •
        <a href="#">a page</a>
        •
        <div>Made with <i class="fa fa-heart"></i> in Portland</div>
        •
        <div>© Copyright 2018. Letters of Love is a 501 (c)(3) | EIN: 22-3936753</div>
      </div>
    </div>
    <div class="footer-subscribe">
      <p>subscribe</p>
    </div>
  </div>
</div>

