<div id="home">
  <%= partial 'layouts/navbar' %>
  <%= image_tag "banner.jpg", class: "hero-image" %>
  <div class="hero-content">
      <h1>Le Wagon Berlin</h1>
      <p>Learn to code with us in Berlin</p>
      <a class="btn btn-primary btn-lg">Start now</a>
    </div>
  </div>
</div>

  <p class="about">
      <%= link_to "More about this template", "about.html" %>
  </p>
</div>
