---
title: "Letters of Love"
---

<div id="home">
  <%= partial 'layouts/navbar_static' %>

<!--   <div class="modal hide fade" id="myModal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Modal header</h3>
    </div>
    <div class="modal-body">
      <p>One fine body…</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn">Close</a>
      <a href="#" class="btn btn-primary">Save changes</a>
    </div>
  </div>
 -->
  <!-- HOME CONTENT -->
  <div class="banner-home banner-home-image">
    <%#= image_tag 'hero_image.jpg', class: "banner-home-image" %>
      <div class="banner-home-content">
        <h1>Let's turn to love</h1>
        <p>#LettersForChristchurch</p>
        <a href="https://airtable.com/shrMA4GlNNDYW1cYE" class="banner-button">Write a Letter</a>
      </div>
<!--
      <h1>One smile at a time</h1>
        <p>Help us make a difference to global refugee crises using empathy, education and empowerment</p>
        <a href="https://www.globalgiving.org/projects/gift-handwritten-letters-to-10000-refugee-children/" class="banner-button">Donate with Global Giving</a> -->
  </div>

  <div class="section-title-home">
      <div class="section-home-content">
        How can you get involved?
      </div>
    </div>
  <div class="mission-cards col-xs-12 col-sm-12 col-md-10 col-xl-8">
    <div id="card-one" class="card col-xs-11 col-sm-6 col-md-5 col-xl-3">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/pages/15110521_782273908578618_7488840534239535486_o.jpg');"></div>
      <div class="card-content-index">
        <h2>350 Pen Pals</h2>
        <h4>Friendships across borders</h4>
      </div>
      <div class="card-button"><a href="/penpal.html">ADVOCATE</a></div>
    </div>
    <div id="card-two" class="card col-xs-11 col-sm-6 col-md-5 col-xl-3">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/pages/DSC_0302.jpg');"></div>
      <div class="card-content-index">
        <h2>33,478 Letters</h2>
        <h4>Spread smiles, send a letter</h4>
      </div>
      <div class="card-button"><a href="https://airtable.com/shrMA4GlNNDYW1cYE">Write</a></div>
    </div>
    <div id="card-three" class="card col-xs-11 col-sm-6 col-md-5 col-xl-3">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/pages/Copy-of-DSC_0081.jpg');"></div>
      <div class="card-content-index">
        <h2>21 Student Ambassadors</h2>
        <h4>Challenging social issues in classrooms</h4>
      </div>
      <div class="card-button"><a href="/students.html">JOIN</a></div>
    </div>
    <div id="card-four" class="card col-xs-11 col-sm-6 col-md-5 col-xl-3">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/ambassadors/Principle-3.jpg');"></div>
      <div class="card-content-index">
        <h2>8029 Students Sensitised</h2>
        <h4>Create awareness in classrooms</h4>
      </div>
      <div class="card-button"><a href="/changemakers.html">SENSITISE</a></div>
    </div>
  </div>

  <div class="video-block">
    <div class="video-flex">
      <div class="video-component col-xs-12 col-sm-10 col-md-6 col-xl-5">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WbuEs0o8r4o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="video-headline col-xs-12 col-sm-10 col-md-4 col-xl-4">
        <h1>33,478 letters</h1>
        <p>To spread smiles, we mobilise youth groups around the world to deliver handwritten letters as a token of love, hope and solidarity to ten thousands of Syrian, Iraqi, Palestinian, Yazidi and Rohingya refugee children.</p>
      </div>
    </div>
  </div>
  <div class="logos-container">
    <div class="row-flex-center margin-top">
      <% link_to "http://www.unhcr.org/withrefugees/petition/", class: "logos-padding", target: "_blank" do %>
        <div class="center-cropped-logos"
                   style="background-image: url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/logos/Cartello_WithRefugees-1-2.jpg');">
        </div>
      <% end %>
      <% link_to "https://sdsnyouth.org/", class: "logos-padding", target: "_blank" do %>
        <div class="center-cropped-logos"
             style="background-image: url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/logos/SDSNYouthlogo1.png');">
        </div>
      <% end %>
      <% link_to "http://unoy.org/en/", class: "logos-padding", target: "_blank" do %>
        <div class="center-cropped-logos"
             style="background-image: url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/logos/unoy-logo-banner.png');">
        </div>
      <% end %>
      <% link_to "https://www.unmgcy.org/", class: "logos-padding", target: "_blank" do %>
        <div class="center-cropped-logos"
             style="background-image: url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/logos/1_YfbI7Xa4vhtNY36JnmXrKg.png');">
        </div>
      <% end %>
      <% link_to "https://www.globalgiving.org/projects/gift-handwritten-letters-to-10000-refugee-children/", class: "logos-padding", target: "_blank" do %>
        <div class="center-cropped-logos"
             style="background-image: url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/logos/51c375f5-7373-4406-abef-4d4243a5821e.png');">
        </div>
      <% end %>
    </div>
  </div>
  <div class="margin"></div>

    <!-- STORIES -->
    <div class="section-title-home">
      <div class="section-home-content">
        Meet our student ambassadors
      </div>
    </div>
    <div class="home-list">
      <div class="row-flex">
        <div class="home-list-item col-xs-12 col-sm-12 col-md-5 col-xl-3">
          <div class="center-cropped-home"
               style="background-image: url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/ambassadors/GABBY.jpg');">
          </div>
          <div class="home-description">
            <p class="home-member-description">Gabby Weiss is the Lead Student Ambassador as well as the youngest team member of Letters of Love. She is also in charge of conducting sensitisation sessions for her school...<br><% link_to "https://medium.com/letters-of-love/meet-our-little-maverick-an-interview-with-gabby-weiss-e8ff92760a21", target: "_blank", class: "home-story-link" do %>
                Read more
            <% end %></p>
          </div>
        </div>
        <div class="home-list-item col-xs-12 col-sm-12 col-md-5 col-xl-3">
          <div class="center-cropped-home"
               style="background-image: url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/ambassadors/Image-from-iOS-1.jpg');">
          </div>
          <div class="home-description">
            <p class="home-member-description">Malek Sumera is a Palestenian teenager and a dedicated student ambassador for Letters of Love...<br><% link_to "https://medium.com/letters-of-love/in-conversation-with-the-boy-with-a-mission-an-interview-with-malek-sumera-700e712f2250", target: "_blank", class: "home-story-link" do %>
                Read more
            <% end %></p>
          </div>
        </div>
      </div>
      <div class="row-flex">
        <div class="home-list-item col-xs-12 col-sm-12 col-md-5 col-xl-3">
          <div class="center-cropped-home"
               style="background-image: url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/ambassadors/Image-from-iOS-2.jpg');">
          </div>
          <div class="home-description">
            <p class="home-member-description">Eric Shagrin's first sensitization workshop was at Saint Andrew’s School in Boca Raton FL to the 7th grade...<br>
            <% link_to "https://medium.com/letters-of-love/envision-peace-and-eliminate-divides-an-interview-with-eric-shagrin-757fbd8a38ee", target: "_blank", class: "home-story-link" do %>
                Read more
            <% end %></p>
          </div>
        </div>
        <div class="home-list-item col-xs-12 col-sm-12 col-md-5 col-xl-3">
          <div class="center-cropped-home"
               style="background-image: url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/ambassadors/amy-1.jpg');">
          </div>
          <div class="home-description">
            <p class="home-member-description">Amy Topchik's first big project with Letters of Love was writing valentines for children in refugee camps...<br><% link_to "https://medium.com/letters-of-love/armed-with-awareness-spring-into-action-an-interview-with-amy-topchik-f65d380b3264", target: "_blank", class: "home-story-link" do %>
                Read more
            <% end %></p>
          </div>
        </div>
      </div>
      <div class="work-footer-button-gray"><a href="/students.html">Meet our ambassadors</a></div>
    </div>

    <!--The div element for the map -->
    <div class="section-title-home">
      <div class="section-home-content">
        Where we are
      </div>
    </div>
    <div id="map"></div>
    <script>
       function initMap() {
        var markers = [
          ['New Delhi', 28.644800, 77.216721],
          ['Cairo', 30.0444196, 31.2357116],
          ['Athens', 37.983810, 23.727539],
          ['Instabul', 41.015137, 28.979530],
          ['Bethlehem', 31.705791, 35.200657],
          ['Damascus', 33.510414, 36.278336],
          ['Gaza', 31.416665, 34.333332],
          ['Cox Bazar', 21.58333, 92.0166666],
          ['Amman', 31.963158, 35.930359]
        ];

        var map = new google.maps.Map(
            document.getElementById('map'), {
              zoom: 4,
              center: new google.maps.LatLng(41.015137, 28.979530),
            });

        var infoWindow = new google.maps.InfoWindow(), marker, i;
        for( i = 0; i < markers.length; i++ ) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });

        };
      };
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi345rz2pY5OyPlwrAWmgZ5WY-fJmUfaM&callback=initMap">
    </script>

    <div class="home-image-one">
      <div class="home-image-two-text col-xs-10 col-sm-8 col-md-8 col-xl-6">
        <div class="home-image-two-text">
          <h4>Help us spread smiles.</h4>
        </div>
        <div class="work-footer-button"><a href="https://airtable.com/shrMA4GlNNDYW1cYE">Write a Letter</a></div>
      </div>
    </div>
  </div>
    <!-- SUBSCRIBE CTA -->
  </div>
  <%= partial 'layouts/footer' %>
</div>

