---
title: "Letters of Love"
---

<div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div id="banner-home" class="banner-home">
      <div class="banner-home-content">
        <h1>One smile at a time</h1>
        <p>Help us make a difference to global refugee crises using empathy, education and empowerment</p>
        <a href="https://lettersoflove.typeform.com/to/BPWAdu" class="banner-button">Send a letter</a>
      </div>
  </div>

  <div class="section-title-home">
      <div class="section-home-content">
        How can you get involved?
      </div>
    </div>
  <div class="mission-cards col-xs-12 col-sm-12 col-md-10 col-xl-8">
    <div id="card-one" class="card col-xs-9 col-sm-6 col-md-4 col-xl-3">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://chroniclr.co/wp-content/uploads/2018/10/15110521_782273908578618_7488840534239535486_o.jpg');"></div>
      <div class="card-content-index">
        <h4>Become one of our Pen Pals</h4>
      </div>
      <div class="card-button"><a href="/penpal.html">Pen Pal</a></div>
    </div>
    <div id="card-two" class="card col-xs-9 col-sm-6 col-md-4 col-xl-3">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://chroniclr.co/wp-content/uploads/2018/09/DSC_0302-2.jpg');"></div>
      <div class="card-content-index">
        <h4>Donate to our New Years 2019 campaign</h4>
      </div>
      <div class="card-button"><a href="https://paypal.com/us/fundraiser/charity/3399841">Donate</a></div>
    </div>
    <div id="card-three" class="card col-xs-9 col-sm-6 col-md-4 col-xl-3">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://chroniclr.co/wp-content/uploads/2018/09/Copy-of-DSC_0081-2.jpg');"></div>
      <div class="card-content-index">
        <h4>Become one of our Student Ambassadors</h4>
      </div>
      <div class="card-button"><a href="/students.html">join us</a></div>
    </div>
    <div id="card-four" class="card col-xs-9 col-sm-6 col-md-4 col-xl-3">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://chroniclr.co/wp-content/uploads/2018/10/Principle-3.jpg');"></div>
      <div class="card-content-index">
        <h4>Create awareness in classrooms</h4>
      </div>
      <div class="card-button"><a href="/changemakers.html">SENSITISE</a></div>
    </div>
  </div>

  <div class="video-block">
    <div class="video-flex">
      <div class="video-component col-xs-12 col-sm-10 col-md-6 col-xl-5">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WbuEs0o8r4o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="video-headline col-xs-12 col-sm-10 col-md-4 col-xl-4">
        <h4>What we do</h4>
        <p>To spread smiles, we mobilise youth groups around the world to deliver handwritten letters as a token of love, hope and solidarity to ten thousands of Syrian, Iraqi, Palestinian, Yazidi and Rohingya refugee children.</p>
      </div>
    </div>
  </div>

    <!-- STORIES -->
    <div class="section-title-home">
      <div class="section-home-content">
        Meet our student ambassadors
      </div>
    </div>
    <div class="home-list">
      <div class="row-flex">
        <div class="home-list-item col-xs-12 col-sm-12 col-md-5 col-xl-3">
          <div class="center-cropped-home"
               style="background-image: url('http://lettersoflove.in/wp-content/uploads/2017/10/Photo-from-Pooja-Pradeep.jpg');">
          </div>
          <div class="home-description">
            <p class="home-member-description">Gabby Weiss is the Lead Student Ambassador as well as the youngest team member of Letters of Love. She is also in charge of conducting sensitisation sessions for her school...<br><% link_to "https://medium.com/letters-of-love/meet-our-little-maverick-an-interview-with-gabby-weiss-e8ff92760a21", target: "_blank", class: "home-story-link" do %>
                Read more
            <% end %></p>
          </div>
        </div>
        <div class="home-list-item col-xs-12 col-sm-12 col-md-5 col-xl-3">
          <div class="center-cropped-home"
               style="background-image: url('http://lettersoflove.in/wp-content/uploads/2018/02/re3.jpg');">
          </div>
          <div class="home-description">
            <p class="home-member-description">Malek Sumera is a Palestenian teenager and a dedicated student ambassador for Letters of Love...<br><% link_to "https://medium.com/letters-of-love/in-conversation-with-the-boy-with-a-mission-an-interview-with-malek-sumera-700e712f2250", target: "_blank", class: "home-story-link" do %>
                Read more
            <% end %></p>
          </div>
        </div>
      </div>
      <div class="row-flex">
        <div class="home-list-item col-xs-12 col-sm-12 col-md-5 col-xl-3">
          <div class="center-cropped-home"
               style="background-image: url('http://lettersoflove.in/wp-content/uploads/2018/01/123.png');">
          </div>
          <div class="home-description">
            <p class="home-member-description">Eric Shagrin's first sensitization workshop was at Saint Andrew’s School in Boca Raton FL to the 7th grade...<br>
            <% link_to "https://medium.com/letters-of-love/envision-peace-and-eliminate-divides-an-interview-with-eric-shagrin-757fbd8a38ee", target: "_blank", class: "home-story-link" do %>
                Read more
            <% end %></p>
          </div>
        </div>
        <div class="home-list-item col-xs-12 col-sm-12 col-md-5 col-xl-3">
          <div class="center-cropped-home"
               style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/11/amy-1.jpg');">
          </div>
          <div class="home-description">
            <p class="home-member-description">Amy Topchik's first big project with Letters of Love was writing valentines for children in refugee camps...<br><% link_to "https://medium.com/letters-of-love/armed-with-awareness-spring-into-action-an-interview-with-amy-topchik-f65d380b3264", target: "_blank", class: "home-story-link" do %>
                Read more
            <% end %></p>
          </div>
        </div>
      </div>
      <div class="work-footer-button-gray"><a href="/students.html">Meet our ambassadors</a></div>
    </div>

    <!-- SUBSCRIBE CTA -->
  </div>
  <%= partial 'layouts/footer' %>
</div>

