---
title: "Letters of Love - Send a Letter"
---

<div class="static-page">
  <%= partial 'layouts/navbar_static' %>
  <div id="banner-letters" class="banner-home">
      <div class="banner-home-content">
        <h1>Send your Letter of Love</h1>
        <p></p>
      </div>
  </div>
  <div class="static-page-content">
    <div class="static-content col-xs-11 col-sm-11 col-md-8 col-xl-6">
      <div class="static-header">
        <h4></h4>
      </div>
      <div class="static-description">
        <p>A letter of love is a humble attempt at spreading smiles to refugee children, every New Year and on other special occasions. It is a token of hope, personalized with your happy photograph and a warm message, written by hand by our team of volunteers in their respective language and doodled with colors.
        <br><br>
        A handwritten letter brings an old-school charm like no other form of communication. This tangible token of love is us, extending a hand in friendship to the millions of refugee children who need our support; to let them know that they are not forgotten but are loved and cared for, at the least. The letters express solidarity with refugee and migrant children who bear the brunt of war they certainly didn't start.
        <br><br>
        Oh! You must see how happy they are when they receive a letter.
        Don't believe us?
        Take a look at this joy 🙂
        <br><br>
        Here's to doing whatever we can, with whatever we have, wherever we are.
        Here's to writing a letter to a refugee child.
        <br><br>
        Guidelines for sending your Letter of Love :
        <ol>
        <li>Upload a joyful photograph of yourself</li>
        <li>Avoid those with sunglasses, materialistic or religious elements</li>
        <li>We encourage those with smiles, wider the better</li>
        <li>Keep your message short (less than 50 words)</li>
        <li>Write a message filled with love, hope, and best wishes</li>
        <li>Avoid tones of sympathy or outrage</li>
        </ol>

        <br>
        <a href="https://airtable.com/shrMA4GlNNDYW1cYE">Send a letter</a>
        </p>
      </div>
      <div class="static-bottom-image">
      </div>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
