---
title: "Letters of Love - Memories"
---

<div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="gallery-page">
    <div class="team-header">
      <h2>Memories</h2>
    </div>
    <div class="memories-cards-flex">
      <!-- GALLERY CARD - PRESS KIT -->
      <div class="card card-memories col-xs-9 col-sm-6 col-md-4 col-xl-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/pages/DSC_0188.jpg');"></div>
        <div class="card-content card-memories-content">
          <h3>Press Kit</h3>
          <p>Feel free to use these images in articles about us!</p>
        </div>
        <div class="card-button card-button-memories"><a href="galleries/presskit.html">See gallery</a></div>
      </div>
    <!-- VALENTINE -->
      <div class="card card-memories col-xs-9 col-sm-6 col-md-4 col-xl-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/pages/DSC_0143.jpg');"></div>
        <div class="card-content card-memories-content">
          <h3>Be my Valentine</h3>
          <p>Letters of Love and toys were delivered to Rohingya and Syrian refugee children along with art, music and dance workshops on Valentine's Day.</p>
        </div>
        <div class="card-button card-button-memories"><a href="/galleries/valentine.html">See gallery</a></div>
      </div>
    <!-- NY 2018 -->
      <div class="card card-memories col-xs-9 col-sm-6 col-md-4 col-xl-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/pages/DSC_0242.jpg');"></div>
        <div class="card-content card-memories-content">
          <h3>New Year's 2018</h3>
          <p>Letters of Love were delivered to 15000 Syrian, Iraqi, Yazidi, Rohingya refugee children across community centers and schools in Turkey and Jordan.</p>
        </div>
        <div class="card-button card-button-memories"><a href="/galleries/NY2018.html">See gallery</a></div>
      </div>
    <!-- ITS CHILDRENS DAY -->
      <div class="card card-memories col-xs-9 col-sm-6 col-md-4 col-xl-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/pages/31346553_1683967565018249_5078681733826609152_o.jpg');"></div>
        <div class="card-content card-memories-content">
          <h3>Its Children's Day</h3>
          <p>Over 2000 refugee children living in Turkey received letters from people living in different parts of the world.</p>
        </div>
        <div class="card-button card-button-memories"><a href="/galleries/childrenday.html">See gallery</a></div>
      </div>
    <!-- WORLD REFUGEE DAY -->
      <div class="card card-memories col-xs-9 col-sm-6 col-md-4 col-xl-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lettersoflove/site/master/source/images/others/IMG_2185.jpg');"></div>
        <div class="card-content card-memories-content">
          <h3>World Refugee Day</h3>
          <p>For World Refugee Day commemorated on June 20, Letters of Love in collaboration with PRECISE.</p>
        </div>
        <div class="card-button card-button-memories"><a href="/galleries/worldrefugeeday.html">See gallery</a></div>
      </div>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>

