---
title: "Letters of Love - Memories"
---

<div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="gallery-page">
    <div class="team-header">
      <h2>Memories</h2>
    </div>
    <div class="memories-cards-flex">
      <!-- GALLERY CARD - PRESS KIT -->
      <div class="card card-memories col-xs-9 col-sm-6 col-md-4 col-xl-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0188-2.jpg');"></div>
        <div class="card-content card-memories-content">
          <h3>Press Kit</h3>
          <p>Feel free to use these images in articles about us!</p>
        </div>
        <div class="card-button card-button-memories"><a href="galleries/presskit.html">See gallery</a></div>
      </div>
    <!-- VALENTINE -->
      <div class="card card-memories col-xs-9 col-sm-6 col-md-4 col-xl-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/10/Copy-of-DSC_0143.jpg');"></div>
        <div class="card-content card-memories-content">
          <h3>Be my Valentine</h3>
          <p>Letters of Love and toys were delivered to Rohingya and Syrian refugee children along with art, music and dance workshops on Valentine's Day.</p>
        </div>
        <div class="card-button card-button-memories"><a href="/galleries/valentine.html">See gallery</a></div>
      </div>
    <!-- NY 2018 -->
      <div class="card card-memories col-xs-9 col-sm-6 col-md-4 col-xl-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/11/DSC_0241-min.jpg');"></div>
        <div class="card-content card-memories-content">
          <h3>New Year's 2018</h3>
          <p>Letters of Love were delivered to 15000 Syrian, Iraqi, Yazidi, Rohingya refugee children across community centers and schools in Turkey and Jordan.</p>
        </div>
        <div class="card-button card-button-memories"><a href="/galleries/NY2018.html">See gallery</a></div>
      </div>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
