---
title: "Letters of Love - Memories"
---

<div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="gallery-page">
    <div class="team-header">
      <h2>Memories</h2>
      <h4>A few of our favourite memories...</h4>
    </div>
      <div class="card col-xs-9 col-sm-5 col-md-4 col-xl-3">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0188-2.jpg');"></div>
        <div class="card-content card-memories-content">
          <p>Be my Valentine</p>
          <div class="card-button"><a href="/gallery_presskit.html">See photos</a></div>
        </div>
      </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
