---
title: "Letters of Love - Memories"
---

<div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="gallery-page">
    <div class="team-header">
      <h2>Memories</h2>
<!--       <h4>Memories from</h4> -->
    </div>
    <div class="memories-cards-flex">
      <!-- GALLERY CARD - PRESS KIT -->
      <div class="card col-xs-9 col-sm-6 col-md-5 col-xl-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/09/DSC_0188-2.jpg');"></div>
        <div class="card-content card-memories-content">
          <p>Press Kit</p>
          <div class="card-button"><a href="galleries/presskit.html">See gallery</a></div>
        </div>
      </div>
    <!-- VALENTINE -->
      <div class="card col-xs-9 col-sm-6 col-md-5 col-xl-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://tomvaillant.com/wp-content/uploads/2018/10/Copy-of-DSC_0143.jpg');"></div>
        <div class="card-content card-memories-content">
          <p>Be my Valentine</p>
          <div class="card-button"><a href="/galleries/valentine.html">See gallery</a></div>
        </div>
      </div>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
