<div class="static-page">
  <%= partial 'layouts/navbar' %>
  <div class="banner-changemakers">
      <div class="banner-changemakers-content col-xs-10 col-sm-8 col-md-6 col-xl-4">
        <h1>Send your letter of love</h1>
        <p></p>
      </div>
  </div>
  <div class="static-page-content">
    <div class="static-content col-xs-11 col-sm-11 col-md-8 col-xl-6">
      <div class="static-header">
        <h4></h4>
      </div>
      <div class="static-description">
        <p>The steady rise in global conflicts has also led to a steady rise in reinforcing prejudices. With excessive filter bubbles created by the internet, our preconceived notions about persons of other nationalities have been raging more than ever before.
        <br><br>
        Students nowadays have easy access to a world of information through the internet. However, the nature of the internet is heavily skewed painting us only a part of the picture. They still need to be guided through the process of discovery so that a deeper understanding of their own place in the world is developed.
        <br><br>
        When a person learns first-hand about what another person’s culture truly entails, by means of a genuine account of an event from another person who is not a mere stranger but their friend in a completely different part of the world, his perception of that event can be radically different that learning about it in school or hearing about it in the news.
        <br><br>
        These are character building experiences that bring out the best and worst in all of us and from which we learn so much. Also, one is perhaps bound to make the greatest friends in midst of the writing mails describing their average, yet not so average lives and providing each other a mini support system to get through hard times.
        <br><br>
        The Pen Pal Project enables students working with other people we learn about their cultures and become able to explore new ideas and prospects. Options that would not have occurred to us before stand out as obvious if we understand how other people experience the world. This is why it is so important for students to have a deeper global awareness and understanding of other cultures.
        <br><br>
        If we want to live in a truly peaceful world, we have to ensure that our students experience foreign cultures with unprecedented ease. The PenPal initiative gives students the opportunity to perceive people of other countries beyond their plain nationalities.
        <br><br>
        <i>
        Hi. I'm your Pen Pal !
        <br><br>
        #PART1 of fostering unimaginable friendships :)This video was played in refugee community centres before the children were handed out their Letters of Love from their pen pals in various schools of Mumbai, India.Can not wait for PART 2 :D#PenPalProject of Letters of Love in collaboration with Clap Global
        </i>
        </p>
      </div>
    </div>
    <%= partial 'layouts/footer' %>
  </div>
</div>
