---
title: "Press - Letters of Love"
---

 <div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="team-page">
    <div class="team-header">
      <h2>Press</h2>
      <h4>Our media partners</h4>
    </div>
    <div class="partners-section">
      <% data.media.each do |partner| %>
        <div class="partner-box">
          <div class="center-cropped-logo"
               style="background-image: url('<%= partner.logo %>');">
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
