---
title: "Letters of Love - Pen Pals"
---

<div class="static-page">
  <%= partial 'layouts/navbar_static' %>
  <div id="banner-scribble" class="banner-home">
      <div class="banner-home-content">
        <h1>Meet, Greet & Scribble</h1>
        <p></p>
      </div>
  </div>
  <div class="static-page-content">
    <div class="static-content col-xs-11 col-sm-11 col-md-8 col-xl-6">
      <div class="static-header">
        <h4></h4>
      </div>
      <div class="static-description">
        <p>United Nations Security Council Resolution 2250 (UNSCR 2250) adopted in 2015 is the first resolution on youth, peace and security that emphasizes the importance of youth as agents of change in the maintenance and promotion of peace and security. Letters of Love promotes UNSCR 2250 while supporting and advocating for young people’s meaningful participation in peace and security efforts globally and locally. We effectively engage youth around the world by encouraging and ensuring their participation in campaigns and events addressing refugee crises.
        <br><br>
        Meet, Greet & Scribble events are informal, social events where anybody can join and write messages on the postcards, doodle or colour, paste stickers, etc.
        <br><br>
        We’ve conducted more than 30 Meet, Greet & Scribble events in various cities and countries and have written and doodled on more than 35,000 letters.</p>
        <p>Stay in touch to know when and where the next Meet, Greet & Scribble is happening.</p>
        <div class="button-align-center">
          <a href="mailto:pooja@lettersoflove.in" class="banner-button">Stay Tuned</a>
        </div>
        <br><br>
        <i><p>“The Letters and Love meet and greet event was the perfect platform to help bring the Hopkins community together for a greater good! Seeing 100+ people smile for pictures, write heart warming messages and show an interest in Lols mission statement really motivated my team to go the extra mile and span the event over two days. The biggest advantage of the event was the ease of operations. There were no major requirements to set up our stall; the Facebook video was enough to get people hooked and the simple idea of taking a picture while smiling was contagious in the best way possible. “
        </p></i>
        <p>— Puneet Chadha, Co-founder, Board Member, Carey Volunteer Corps, Johns Hopkins University.</p>
      </div>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
