 <div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="team-page">
    <div class="team-header">
      <h2>Meet the Team</h2>
      <h4>Get to know us</h4>
    </div>
    <div class="team-list">

      <div class="team-list-item col-xs-12 col-sm-12 col-md-10 col-xl-8">
        <div id="pooja" class="team-photo"></div>
        <div class="team-description">
          <h4>Pooja Pradeep</h4>
          <p>lorem ipsum lorem ipsum</p>
        </div>
      </div>
      <div class="team-list-item col-xs-12 col-sm-12 col-md-10 col-xl-8">
        <div id="pooja" class="team-photo"></div>
        <div class="team-description">
          <h4>Pooja Pradeep</h4>
          <p>lorem ipsum lorem ipsum</p>
        </div>
      </div>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
