---
title: "Letters of Love - Our Approach"
---

 <div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="work-page">
    <!-- OUR PARTNERS -->
    <div class="approach-stories col-xs-12 col-sm-10 col-md-6 col-xl-4">
      <h2>How we work</h2>
      <p> With a diverse team of 28 peacebuilders from 12 countries, with an average age of 22 (our youngest being only 13!), we believe in 'making' a difference rather than 'hoping' for one.</p>
    </div>
    <div class="row-flex">
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "/partners.html" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/09/Copy-of-DSC_0081-2.jpg');">
            <div class="approach-card-text">
              <p>Meet</p>
              <h4>Our Partners</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "/team.html" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/10/IMG_3288.jpg');">
            <div class="approach-card-text">
              <p>Meet</p>
              <h4>Our Team</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "/memories.html" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/09/DSC_0241.jpg');">
            <div class="approach-card-text">
              <p>See</p>
              <h4>Our Memories</h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="approach-stories col-xs-12 col-sm-10 col-md-6 col-xl-4">
      <h2>Leadership Programs</h2>
      <p>Empowering a child with the necessary skillset and connections to impact a social cause can unleash an innate leader and a life-long learner. These young leaders will inspire a global citizenry of changemakers.</p>
    </div>
    <div class="row-flex">
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "/students.html" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/09/DSC_0302.jpg');">
            <div class="approach-card-text">
              <p>Learn about</p>
              <h4>Our Student Ambassadors</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "/students.html" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/10/IMG_2246-5.jpg');">
            <div class="approach-card-text">
              <p>Learn about</p>
              <h4>Our Star Thrower Fellowship</h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- EDUCATIONAL -->
    <div class="approach-stories col-xs-12 col-sm-10 col-md-6 col-xl-4">
      <h2>Educational Programs</h2>
      <p>Our empathy-centric programs focus on empowering school students in privileged circumstances through raising awareness and creatively acting upon it to directly make a difference to displaced communities worldwide.</p>
    </div>
    <div class="row-flex">
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "/penpal.html" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/10/ppt.jpg');">
            <div class="approach-card-text">
              <p>Learn about</p>
              <h4>Our Pen Pal Project</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/10/12487239_634274503378560_7188472134179857772_o-1.jpg');">
            <div class="approach-card-text">
              <p>Learn about</p>
              <h4>Meet Greet & Scribble</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "/changemakers.html" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/10/IMG_0015.jpg');">
            <div class="approach-card-text">
              <p>Learn about</p>
              <h4>Our Sensitisation Workshops</h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- PROGRESS CARDS -->
    <div class="approach-stories col-xs-12 col-sm-10 col-md-6 col-xl-4">
      <h2>Our Progress</h2>
      <p>We work with whatever we have available, wherever we are. We're a small but dedicated team, this is what we've achieved so far!</p>
    </div>
    <div class="student-section">
      <div class="row-flex">
        <div class="student-card col-xs-10 col-sm-5 col-md-4 col-xl-4">
          <div class="student-card-flex">
            <div class="student-card-content">
              <h2>21</h2>
              <h4>Student Ambassadors</h4>
              <p>Our Student Ambassadors form a global network of motivated teenagers who have the will to challenge and change social issues. They come from different contries and contexts, united with their passion to inspire communities harnessing the power of a handwritten letter.</p>
            </div>
            <div id="ambassador-button" class="student-card-button"><a href="/students.html">Meet our ambassadors</a></div>
          </div>
        </div>
        <div class="student-card col-xs-10 col-sm-5 col-md-4 col-xl-4">
          <div class="student-card-flex">
            <div class="student-card-content">
              <h2>8,029</h2>
              <h4>Students Sensitised</h4>
              <p>In a time where humanitarian conflicts of various magnitudes are unfolding by the hour, it is imperative that we raise aware, empathic global citizens in our classrooms.</p>
            </div>
            <div id="student-button" class="student-card-button"><a href="/changemakers.html">Organise a workshop</a></div>
          </div>
        </div>
      </div>
      <div class="row-flex">
        <div class="student-card col-xs-10 col-sm-5 col-md-4 col-xl-4">
          <div class="student-card-flex">
            <div class="student-card-content">
              <h2>350</h2>
              <h4>Pen Pal pairs across borders</h4>
              <p>The Pen Pal Project for children and youth aims at fostering friendships across lines of conflict. We connect school students with internally displaced children in Syria, those beseiged in Gaza and Syrian refugee children in Turkey. It gives them the opportunity to perceive people of other countries beyond.</p>
            </div>
            <div id="penpal-button" class="student-card-button"><a href="/penpal.html">Become a Pen Pal</a></div>
          </div>
        </div>
        <div class="student-card col-xs-10 col-sm-5 col-md-4 col-xl-4">
          <div class="student-card-flex">
            <div class="student-card-content">
              <h2>33,478</h2>
              <h4>Handwritten letters</h4>
              <p>A handwritten letter brings an old-school charm like no other form of communication. This tangible token of love is us, extending a hand in friendship to the millions of refugee children who need our support; to let them know that they are not forgotten but are loved and cared for.</p>
            </div>
            <div id="letters-button" class="student-card-button"><a href="/letters.html">Send a Letter</a></div>
          </div>
        </div>
      </div>
    </div>

    <!-- STORIES -->
    <div class="approach-stories col-xs-12 col-sm-10 col-md-6 col-xl-4">
      <h2>Stories From The Team</h2>
      <p>Every smile we spread has a story behind it; one that's filled with simplicity, hard work, joy and abundant hope.</p>
    </div>
    <div class="row-flex">
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "https://medium.com/letters-of-love/what-can-a-letter-do-729ae4f83727", target: "_blank" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/09/DSC_0188-2.jpg');">
            <div class="approach-card-text">
              <p>Read</p>
              <h4>What can a letter do?</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "https://medium.com/letters-of-love/a-tale-of-love-guns-and-solidarity-the-parkland-initiative-eca4385f6d0e", target: "_blank" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/09/DSC_0192.jpg');">
            <div class="approach-card-text">
              <p>Read</p>
              <h4>The Parkland Initiative</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-10 col-sm-4 col-md-3">
        <% link_to "https://medium.com/letters-of-love/a-primer-on-refugee-law-and-policy-1c99c81f148f", target: "_blank" do %>
          <div class="approach-card" style="background-image: url('https://chroniclr.co/wp-content/uploads/2018/09/DSC_0263-2.jpg');">
            <div class="approach-card-text">
              <p>Read</p>
              <h4>Refugee Law and Policies</h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="work-footer-button-gray"><a href="https://medium.com/letters-of-love" target="_blank">Read our blog</a></div>

    <div class="home-image-two">
      <div class="home-image-two-text col-xs-10 col-sm-8 col-md-8 col-xl-6">
        <div class="home-image-two-text">
          <h4>Help us spread smiles.</h4>
        </div>
        <div class="work-footer-button"><a href="https://lettersoflove.typeform.com/to/BPWAdu">Write a Letter</a></div>
      </div>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
